* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #122e5c;
  display: grid;
  place-items: center;
}

.btn {
  background-color: inherit;
  border: solid 3px #f8f8f8;
  color: #f8f8f8;
  font-size: 2rem;
  padding: 15px 30px;
  transition: all 0.4s;
}

.btn-left,
.btn-right {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.btn-left {
  left: 10px;
}

.btn-right {
  right: 10px;
}

.btn:hover {
  scale: 1.1;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.text {
  color: #f8f8f8;
}

.block {
  display: block;
}

.slider-container {
  position: relative;
}

.image {
  max-width: 100%;
}
